*/.venv/
*/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

*/.idea 
.pyre/
tk/.idea/
calculadora/.idea/
api_flask/.idea/
flask/.idea/

CallsController/.idea

my-pokemons/vue/node_modules
my-pokemons/vue/dist
my-pokemons/flask/.idea
my-pokemons/flask/venv