<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <my-header subtitle='Hello friend' /></my-header>
        <my-header  ></my-header>
        <div>
          
            <h1>Index</h1>
            <input type="text" v-model="message" /> <button v-on:click="reverseMessage">Reverse Message</button>
            <div>
                Message: [[ message ]]
            </div>
        </div>
      
        <ul>
            <li>As</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='header-comp.js') }}"></script>
    <script >
        app.mount('#app')
    </script>
</body>

</html>